@font-face {
    font-family: fontawesome;
    src: url("../fonts/fontawesome-webfont.ttf");
  }
  
  @font-face {
    font-family: SkyhookMonoRegular;
    src: url("../fonts/SkyhookMono_regular.ttf");
  }
  
  @font-face {
    font-family: Introdução;
    src: url("../fonts/Fontfabric-Intro-Black-Caps.otf");
  }